/* Less Framework 4
 * http://lessframework.com
 * by Joni Korpi
 * License: http://creativecommons.org/licenses/MIT/ */
/* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/_reset.scss */
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/_reset.scss */
a img {
  border: 0;
}

/* line 1, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/typography/_16px.scss */
.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

/* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/typography/_16px.scss */
.huge {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

/* line 13, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/typography/_16px.scss */
.large, h1 {
  font-size: 42px;
  line-height: 48px;
}

/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/typography/_16px.scss */
.bigger, h2 {
  font-size: 26px;
  line-height: 36px;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/typography/_16px.scss */
.big, h3 {
  font-size: 22px;
  line-height: 30px;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/typography/_16px.scss */
body {
  font: 16px/24px Georgia, serif;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/typography/_16px.scss */
.small, small {
  font-size: 13px;
  line-height: 18px;
}

/* line 3, ../sass/partials/_global.scss */
h1 {
  letter-spacing: -1px;
  font-weight: normal;
}

/* line 9, ../sass/partials/_global.scss */
h2 {
  font-weight: normal;
}

/* line 14, ../sass/partials/_global.scss */
h3 {
  font-weight: normal;
  border-left: 12px solid #CCC;
  padding-left: 12px;
  margin-left: -24px;
}

/* line 26, ../sass/partials/_global.scss */
body {
  background: white url('/static/images/bg.png?1322125095');
  color: #4D4D4D;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
  text-shadow: white 0 1px;
}

/* line 34, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/_framework.scss */
::selection {
  background: #dbedb9;
}

/* line 35, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/_framework.scss */
::-moz-selection {
  background: #dbedb9;
}

/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/_framework.scss */
img::selection {
  background: transparent;
}

/* line 37, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/_framework.scss */
img::-moz-selection {
  background: transparent;
}

/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-less-plugin-1.0/stylesheets/less/_framework.scss */
body {
  -webkit-tap-highlight-color: #dbedb9;
}

/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */
/* line 6, ../sass/partials/_default.scss */
#masthead, #content {
  width: 896px;
  padding: 72px 48px 84px;
  margin: 0 auto;
  position: relative;
}

/* line 12, ../sass/partials/_default.scss */
#content {
  padding-top: 100px;
}

/* line 16, ../sass/partials/_default.scss */
#top {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background: linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

/* line 20, ../sass/partials/_default.scss */
#masthead {
  padding-bottom: 72px;
}
/* line 23, ../sass/partials/_default.scss */
#masthead #identity {
  display: block;
  color: inherit;
  background-image: url('/static/images/logo.png?1322125095');
  background-position: right top;
  background-repeat: no-repeat;
}
/* line 30, ../sass/partials/_default.scss */
#masthead #identity:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 20px;
}
/* line 35, ../sass/partials/_default.scss */
#masthead h1 {
  line-height: 1;
  font-weight: bold;
}
/* line 41, ../sass/partials/_default.scss */
#masthead h2 {
  color: #AAA;
}

/* line 46, ../sass/partials/_default.scss */
a {
  color: #8ac616;
  text-decoration: none;
  -moz-transition-property: color background box-shadow;
  -webkit-transition-property: color background box-shadow;
  -o-transition-property: color background box-shadow;
  transition-property: color background box-shadow;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 51, ../sass/partials/_default.scss */
a:hover {
  color: #84be15;
  background: rgba(0, 0, 0, 0.04);
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 0 3px;
}

/* line 58, ../sass/partials/_default.scss */
#nav {
  position: absolute;
  top: 0;
}
/* line 62, ../sass/partials/_default.scss */
#nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: -12px;
  padding-left: 1px;
  padding-bottom: 1px;
}
/* line 46, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
#nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
/* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#nav ul li {
  *display: inline;
}
/* line 68, ../sass/partials/_default.scss */
#nav ul li {
  vertical-align: top;
}
/* line 71, ../sass/partials/_default.scss */
#nav ul li.active {
  font-weight: bold;
}
/* line 74, ../sass/partials/_default.scss */
#nav ul li.active a:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 79, ../sass/partials/_default.scss */
#nav ul li a {
  display: block;
  padding: 2px 12px 4px;
}

/* line 87, ../sass/partials/_default.scss */
article {
  margin: 2em 0 4em 0;
}
/* line 90, ../sass/partials/_default.scss */
article p {
  max-width: 100%;
  overflow: hidden;
}
/* line 95, ../sass/partials/_default.scss */
article .meta {
  text-transform: uppercase;
  font-size: 70%;
  font-weight: bold;
  color: #BBB;
  text-shadow: none;
}
/* line 103, ../sass/partials/_default.scss */
article .date, article .tag {
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
  background-color: #FFF;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 8px 0 7px;
}
/* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
article .date, article .tag {
  *display: inline;
}
/* line 110, ../sass/partials/_default.scss */
article .date {
  padding: 0 8px 0 2000px;
  margin-left: -1999px;
}
/* line 115, ../sass/partials/_default.scss */
article .tag {
  font-weight: normal;
  color: inherit;
  -moz-transition-property: background-color color;
  -webkit-transition-property: background-color color;
  -o-transition-property: background-color color;
  transition-property: background-color color;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 120, ../sass/partials/_default.scss */
article .tag:hover {
  background-color: #DDD;
  color: #FFF;
}
/* line 126, ../sass/partials/_default.scss */
article h1 {
  margin: 0.2em 0;
}
/* line 130, ../sass/partials/_default.scss */
article img {
  display: block;
  max-width: 100%;
}

/* line 136, ../sass/partials/_default.scss */
p, img, div.highlight, ul, ol, dl, img.photo {
  margin: 1em 0;
}

/* line 140, ../sass/partials/_default.scss */
ul, ol {
  margin-left: 2em;
}

/* line 144, ../sass/partials/_default.scss */
code {
  text-shadow: none;
  color: #888;
  font-family: Meslo, Menlo, Monaco, "Droid Sans Mono", monospace;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 151, ../sass/partials/_default.scss */
img.photo {
  display: block;
  -moz-box-shadow: white 0 0 0 6px;
  -webkit-box-shadow: white 0 0 0 6px;
  -o-box-shadow: white 0 0 0 6px;
  box-shadow: white 0 0 0 6px;
}

/* line 156, ../sass/partials/_default.scss */
img.left {
  float: left;
  margin-right: 24px;
}

/* line 161, ../sass/partials/_default.scss */
img.right {
  float: right;
  margin-left: 24px;
}

/* line 167, ../sass/partials/_default.scss */
body.clients h3, body.projects h3 {
  margin-top: 2em;
}
/* line 171, ../sass/partials/_default.scss */
body.clients p, body.projects p {
  margin-top: 0;
}
/* line 175, ../sass/partials/_default.scss */
body.clients a.lightbox, body.projects a.lightbox {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body.clients a.lightbox, body.projects a.lightbox {
  *display: inline;
}
/* line 178, ../sass/partials/_default.scss */
body.clients a.lightbox img, body.projects a.lightbox img {
  margin: 0;
}
/* line 183, ../sass/partials/_default.scss */
body.clients #fancybox-close, body.projects #fancybox-close {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 188, ../sass/partials/_default.scss */
ul.skills {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding: 1em 0;
  overflow: visible;
}
/* line 46, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
ul.skills li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
/* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.skills li {
  *display: inline;
}
/* line 193, ../sass/partials/_default.scss */
ul.skills li {
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px;
  background-color: #FFF;
  padding: 0 8px 0 7px;
  -moz-transition-property: transform box-shadow;
  -webkit-transition-property: transform box-shadow;
  -o-transition-property: transform box-shadow;
  transition-property: transform box-shadow;
  -moz-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 199, ../sass/partials/_default.scss */
ul.skills li:hover {
  -moz-transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  transform: scale(2, 2);
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}
/* line 204, ../sass/partials/_default.scss */
ul.skills li a {
  display: block;
}
/* line 207, ../sass/partials/_default.scss */
ul.skills li a:hover {
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 215, ../sass/partials/_default.scss */
#dsq-global-toolbar, .dsq-tooltip-small {
  text-shadow: none;
}

/* Tablet Layout: 768px.
 * Gutters: 24px.
 * Outer margins: 28px.
 * Inherits styles from: Default Layout.  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../sass/partials/_tablet.scss */
  #masthead, #content {
    width: 712px;
    padding: 48px 28px 60px;
  }
}
/* Mobile Layout: 320px.
 * Gutters: 24px.
 * Outer margins: 34px.
 * Inherits styles from: Default Layout.  */
@media only screen and (max-width: 767px) {
  /* line 7, ../sass/partials/_mobile.scss */
  #masthead, #content {
    width: 252px;
    padding: 48px 34px 60px;
  }

  /* line 11, ../sass/partials/_mobile.scss */
  body {
    font-size: 14px;
    line-height: 21px;
  }

  /* line 17, ../sass/partials/_mobile.scss */
  #masthead #identity {
    background-image: url('/static/images/logo-small.png?1322125095');
  }
  /* line 21, ../sass/partials/_mobile.scss */
  #masthead h1 {
    font-size: 26px;
  }
  /* line 25, ../sass/partials/_mobile.scss */
  #masthead h2 {
    font-size: 13px;
    line-height: inherit;
  }

  /* line 34, ../sass/partials/_mobile.scss */
  #nav ul li a {
    padding-left: 8px;
    padding-right: 8px;
  }

  /* line 43, ../sass/partials/_mobile.scss */
  article h1 {
    font-size: 24px;
    line-height: 32px;
  }

  /* line 49, ../sass/partials/_mobile.scss */
  img.left, img.right {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}
/* Wide Mobile Layout: 480px.
 * Gutters: 24px.
 * Outer margins: 22px.
 * Inherits styles from: Default Layout, Mobile Layout.  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 7, ../sass/partials/_wide-mobile.scss */
  #masthead, #content {
    width: 436px;
    padding: 36px 22px 48px;
  }

  /* line 12, ../sass/partials/_wide-mobile.scss */
  #masthead h2 {
    font-size: inherit;
  }
}
/* Retina media query.
   Overrides styles for devices with a
   device-pixel-ratio of 2+, such as iPhone 4.  */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 6, ../sass/partials/_high-px-ratio.scss */
  #identity {
    background-image: url('/static/images/logo.png?1322125095');
    -moz-background-size: 68px 40px;
    -webkit-background-size: 68px 40px;
    -o-background-size: 68px 40px;
    background-size: 68px 40px;
  }
}
