/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */

$green: #8AC616;

#{$less-grid-element} {
    @include grid(10);
    margin: 0 auto;
}

#masthead {
    margin-bottom: 4em;
    background: image-url("logo.png") right center no-repeat;
    
    .wrapper {
        display: block;
        color: inherit;
        
        &:hover {
            @include box-shadow(rgba(#000, 0.04) 0 0 0 20px);
        }
    }
    
    h1 {
        line-height: 1;
        @extend large;
    }
    
    h2 {
        color: #AAA;
    }
}

a {
    color: $green;
    text-decoration: none;
    
    &:hover {
        color: mix($green, #000, 96%);
        background: rgba(#000, 0.04);
        @include box-shadow(rgba(#000, 0.04) 0 0 0 3px);
    }
}

article {
    margin: 2em 0 4em 0;
    
    p {
        max-width: 100%;
        overflow: hidden;
    }
    
    .meta {
        text-transform: uppercase;
        font-size: 70%;
        font-weight: bold;
        color: #BBB;
        @include text-shadow(none);
    }
    
    .date, .tag {
        @include box-shadow(rgba(#000, 0.1) -1px 1px inset);
        background: #F9F9F9;
        background: #F9F9F9;
        @include inline-block;
    }
    
    .date {
        padding: 0 8px 0 2000px;
        margin-left: -1999px;
    }
    
    .tag {
        padding: 0 8px 0 7px;
        font-weight: normal;
        color: inherit;
        
        &:hover {
            background: #DDD;
            color: #FFF;
        }
    }
    
    h1 {
        margin: 0.2em 0;
        font-weight: normal;
    }
    
    img {
        display: block;
        max-width: 100%;
    }
}

p, img, div.highlight, ul, ol, dl {
    margin: 1em 0;
}

ul, ol {
    margin-left: 2em;
}

code {
    @include text-shadow(none);
    color: #888;
    font-family: Meslo, Menlo, Monaco, "Droid Sans Mono", monospace;
    @include border-radius(2px);
}

p code {
    padding: 2px 4px;
}

#dsq-global-toolbar, .dsq-tooltip-small {
    @include text-shadow(none);
}