/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */

#masthead, #content {
    @include grid(10);
    margin: 0 auto;
    position: relative;
}

#content {
    padding-top: 100px;
}

#top {
    @include background(linear-gradient(top, rgba(#FFF, 0.8), rgba(#FFF, 0)));
}

#masthead {
    padding-bottom: 72px;
    
    #identity {
        display: block;
        color: inherit;
        background-image: image-url("logo.png");
        background-position: right top;
        background-repeat: no-repeat;
        
        &:hover {
            @include box-shadow(rgba(#000, 0.04) 0 0 0 20px);
        }
    }
    
    h1 {
        line-height: 1;
        @extend large;
        font-weight: 600;
    }
    
    h2 {
        color: #AAA;
        font-weight: 400;
    }
}

a {
    color: $green;
    text-decoration: none;
    @include single-transition(color background box-shadow, 300ms);
    
    &:hover {
        color: mix($green, #000, 96%);
        background: rgba(#000, 0.04);
        @include box-shadow(rgba(#000, 0.04) 0 0 0 3px);
    }
}

#nav {
    position: absolute;
    top: 0;
    
    ul {
        @include inline-block-list;
        margin-left: -12px;
        padding-left: 1px;
        padding-bottom: 1px;
        
        li {
            vertical-align: top;
            
            &.active {
                font-weight: bold;
                
                a:hover {
                    @include box-shadow(none);
                }
            }
            
            a {
                display: block;
                padding: 2px 12px 4px;
            }
        }
    }
}

article {
    margin: 2em 0 4em 0;
    
    p {
        max-width: 100%;
        overflow: hidden;
    }
    
    .meta {
        text-transform: uppercase;
        font-size: 70%;
        font-weight: bold;
        color: #999;
        @include text-shadow(none);
    }
    
    .date, .tag {
        @include box-shadow(rgba(#000, 0.05) 1px 1px);
        background-color: #FFF;
        @include inline-block;
        padding: 0 8px 0 7px;
    }
    
    .date {
        padding: 0 8px 0 2000px;
        margin-left: -1999px;
    }
    
    .tag {
        font-weight: normal;
        color: inherit;
        @include single-transition(background-color color, 300ms);
        
        &:hover {
            background-color: #DDD;
            color: #FFF;
        }
    }
    
    h1 {
        margin: 0.2em 0;
    }
    
    img {
        display: block;
        max-width: 100%;
    }
}

p, img, div.highlight, ul, ol, dl, img.photo {
    margin: 1em 0;
}

ul, ol {
    margin-left: 2em;
}

code {
    @include text-shadow(none);
    color: #888;
    font-family: Meslo, Menlo, Monaco, "Droid Sans Mono", monospace;
    @include border-radius(2px);
}

img.photo {
    display: block;
    @include box-shadow(#FFF 0 0 0 6px);
}

img.left {
    float: left;
    margin-right: 24px;
}

img.right {
    float: right;
    margin-left: 24px;
}

body.clients, body.projects {
    h3 {
        margin-top: 2em;
    }
    
    p {
        margin-top: 0;
    }
    
    a.lightbox {
        @include inline-block;
        
        img {
            margin: 0;
        }
    }
    
    #fancybox-close {
        @include box-shadow(none);
    }
}

ul.skills {
    @include inline-block-list;
    padding: 1em 0;
    overflow: visible;
    
    li {
        @include box-shadow(rgba(#000, 0.05) 1px 1px);
        background-color: #FFF;
        padding: 0 8px 0 7px;
        @include single-transition(transform box-shadow, 200ms, ease-in-out);
        
        &:hover {
            @include scale(2);
            @include box-shadow(rgba(#000, 0.5) 0 0 5px);
        }
        
        a {
            display: block;
            
            &:hover {
                background: transparent;
                @include box-shadow(none);
            }
        }
    }
}

#dsq-global-toolbar, .dsq-tooltip-small {
    @include text-shadow(none);
}