/* Mobile Layout: 320px.
 * Gutters: 24px.
 * Outer margins: 34px.
 * Inherits styles from: Default Layout.  */

@media only screen and (max-width: 767px) {
    #masthead, #content {
        @include grid(3);
    }
    
    body {
        font-size: 14px;
        line-height: 21px;
    }
    
    #masthead {
        #identity {
            background-image: image-url("logo-small.png");
        }
        
        h1 {
            font-size: 26px;
        }
        
        h2 {
            font-size: 13px;
            line-height: inherit;
        }
    }
    
    #nav {
        ul {
            li {
                a {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }
    }
    
    article {
        h1 {
            font-size: 24px;
            line-height: 32px;
        }
    }
    
    img.left, img.right {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
}
