code {
    font-family: "Droid Sans Mono", "Menlo", "Monaco", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: #666;
    background: #eee;
    @include border-radius(2px);
    padding: 0 2px;
}

pre {
    border-left: 10px solid #222;
    
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    
    ::-webkit-scrollbar:horizontal {
        @include border-bottom-right-radius;
    }
    
    ::-webkit-scrollbar-button {
        display: none;
    }
    
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,0.2);
        @include background(linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0.15)));
        @include border-radius;
        border: 2px solid #000;
    }
    
    code {
        background: #000;
        color: #FFF;
        margin-left: -106px;
        margin-right: -86px;
        padding: 18px 12px 18px 96px;
        display: block;
        overflow: auto;
        @include border-top-right-radius;
        @include border-bottom-right-radius;
        
        .s, .s2 { color: #a5c261; }
        .k, .kn, .ow { color: #b1d2ea; }
        .nf, .nt { color: #6e9cbe; }
        .o, .p { color: #888; }
        .n, .nx { color: #fff; }
        .si, .na { color: #e8bf6a; }
        .c, .c1 { color: #9133cc; }
        // { color: #c28439; }
        // { color: #c8a550; }
        // { color: #a5c261; }
        // { color: #c28439; }
    }
}

