@import "compass/typography/lists";
@import "sprites/icons/*.png";

#elsewhere {
    @include horizontal-list;
    padding-bottom: 108px;
    position: relative;
    
    & > li {
        margin-right: 24px;
        padding-bottom: 8px;
        
        &:hover {
            background: image-url("bubble-top.png") center bottom no-repeat;
        }
    }
    
    a.icon {
        display: block;
        width: 72px;
        height: 54px;
        
        span {
            display: block;
            text-indent: -9999px;
        }
        
        &:hover {
            opacity: 1;
        }
    }
    
    #contact {
        a.icon {
            @include icons-sprite(contact);
        }
        
        &:hover, &:focus {
            a.icon {
                @include icons-sprite(contact-hi);
            }
        }
    }
    
    #twitter {
        a.icon {
            @include icons-sprite(twitter);
        }
        
        &:hover, &:focus {
            a.icon {
                @include icons-sprite(twitter-hi);
            }
        }
    }
    
    #github {
        a.icon {
            @include icons-sprite(github);
        }
        
        &:hover a.icon {
            @include icons-sprite(github-hi);
        }
    }
    
    #lastfm {
        a.icon {
            @include icons-sprite(lastfm);
        }
        
        &:hover a.icon {
            @include icons-sprite(lastfm-hi);
        }
    }
    
    #xing {
        a.icon {
            @include icons-sprite(xing);
        }
        
        &:hover a.icon {
            @include icons-sprite(xing-hi);
        }
    }
    
    .bubble {
        width: 100%;
        height: 84px;
        position: absolute;
        top: 62px;
        left: 0;
        display: none;
        
        ul.content {
            @include background(linear-gradient(top, $green, darken($green, 10%)));
            @include border-radius(4px);
            // @include transition(opacity transform, 500ms, ease);
            // @include translate(0, 100px);
            // opacity: 0;
            @include inline-block-list;
            padding: 8px;
            line-height: 1.2;
            white-space: nowrap;
            
            li.item {
                white-space: normal;
                width: 160px;
                height: 68px;
                margin: 0;
                margin-right: 12px;
                padding: 0;
            }
        }
    }
    
    li {
        &:hover .bubble {
            display: block;
            
            ul.content {
                // opacity: 1;
                // @include translate(0,0);
            }
        }
    }
    
    
    .bubble {
        a {
            color: #FFF;
        }
        
        .service {
            font-weight: bold;
        }
        
        .name {
            font-size: 14px;
            display: block;
            margin-bottom: .5em;
        }
        
        .created_at {
            color: mix($green, #FFF);
            
            &:before {
                content: '— ';
            }
        }
    }
}
