
@import "base";

.vcard {
    .photo {
        position: absolute;
        left: -9999px;
    }
    
    .url {
        color: inherit;
    }
}

#content blockquote {
    max-width: $max-content-width - 24;
}

.post {
    margin-bottom: 96px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.date {
    margin-top: -24px;
    font-size: 12px;
    color: #999;
    line-height: $line-height;
}


@import "code";
@import "comments";
@import "elsewhere";