@import "compass/reset";
@import "compass/css3";

$body-padding-top: 192px;
$body-padding-bottom: 192px;
$body-padding-left: 48px;

$left-column-width: 320px;

$content-padding-vertical: 48px;
$content-padding-horizontal: 96px;

$line-height: 21px;

$default-box-shadow-color: rgba(0,0,0,1);
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur: 3px;

$green: #A5C261;


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

body {
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #333 image-url("bg.png") fixed;
    padding: $body-padding-top 0 $body-padding-bottom $body-padding-left;
}

a {
    text-decoration: none;
    color: $green;
}

#header {
    position: fixed;
    margin-top: 48px;
}

#content {
    position: relative;
    z-index: 2;
    margin-left: $left-column-width;
    background: #FFF;
    @include box-shadow;
    @include border-top-left-radius(4px);
    @include border-bottom-left-radius(4px);
    padding: $content-padding-vertical $content-padding-horizontal;
    
    & > * {
        max-width: 640px;
    }
}

#identity {
    color: #999;
    
    .fn {
        font-size: 32px;
        font-weight: bold;
        margin-left: -2px;
        margin-bottom: 0.15em;
        color: #FFF;
    }
    
    .subline {
        padding-bottom: 10px;
    }
    
    .fn, .subline {
        @include text-shadow(rgba(0,0,0,0.4) 1px 1px);
    }
}

#logo {
    font-size: 280px;
    color: #2a2a2a;
    line-height: 80px;
    position: fixed;
    right: 48px;
    top: 76px;
    z-index: 1;
    @include text-shadow(rgba(0,0,0,0.5) -1px -0.5px, rgba(255,255,255,0.05) 1px 0.5px);
}

#footer {
    position: fixed;
    bottom: 0px;
    right: 48px;
    left: $body-padding-left + $left-column-width + $content-padding-horizontal;
    color: #333;
    line-height: 16px;
    font-size: 10px;
}

.vcard {
    .photo {
        position: absolute;
        left: -9999px;
    }
    
    .url {
        color: inherit;
    }
}


h1 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 48px;
    margin-bottom: 24px;
    margin-left: -2px;
    
    &:first-child {
        margin-top: 0;
    }
    
    a {
        color: inherit;
    }
}

h3 {
    font-size: 18px;
}

p, ul, ol, pre {
    line-height: $line-height;
    margin: 1em 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.post {
    margin-bottom: 96px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.date {
    margin-top: -24px;
    font-size: 12px;
    color: #999;
    line-height: $line-height;
}


@import "code";
@import "comments";
@import "elsewhere";