---
title: My Site
---
<!doctype html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/stylesheets/screen.css">
    </head>
    
    <body>
        <div id="page">
            <div id="content">
                {{ content }}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script src="/static/javascripts/master.js"></script>
    </body>
    
</html>
