---
title: My Site
---
<!doctype html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Droid+Sans+Mono" rel="stylesheet" />
        <link rel="stylesheet" href="/static/stylesheets/screen.css">
        <meta name="viewport" content="width=1024"> 
    </head>
    
    <body>
        <div id="logo">›»</div>
        <header id="header">
            <a href="/" id="identity">
                <div class="fn">Philipp Bosch</div>
                <div class="subline">Web &amp; Mobile Development</div>
            </a>
        </header>
        
        <section id="content">
            {{ content }}
        </section>
        
        <footer id="footer">
            <ul id="elsewhere">
                <li class="twitter">
                    <a href="http://twitter.com/philippbosch" class="icon"><span>Twitter</span></a>
                </li>
                <li class="github">
                    <a href="http://github.com/philippbosch" class="icon"><span>GitHub</span></a>
                </li>
                <li class="lastfm">
                    <a href="http://last.fm/user/eyesbreaker" class="icon"><span>Last.fm</span></a>
                </li>
                <li class="xing">
                    <a href="https://www.xing.com/profile/Philipp_Bosch" class="icon"><span>XING</span></a>
                </li>
            </ul>
            
            
            <!--<div class="vcard">
                <img src="/static/images/philipp-bosch.jpg" class="photo">
                <a class="url fn" href="http://pb.io/">Philipp Bosch</a>
                <div class="adr">
                    <div class="extended-address">Haus C, Treppe 6, 3. OG</div>
                    <div class="street-address">Reichenberger Straße 124</div>
                    <span class="postal-code">10405</span> <span class="locality">Berlin</span>, <span class="country-name">Germany</span>
                </div>
                <a class="email" href="mailto:hello@pb.io">hello@pb.io</a>
                <div class="tel">+49 179 5057388</div>
            </div>-->
            
        </footer>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <script src="/static/prettify/prettify.js"></script>
        <script src="/static/javascripts/master.js"></script>
    </body>
    
</html>
