@font-face {
  font-family: 'CallunaSans';
  src: url('/fonts/callunasansregular-webfont.woff2') format('woff2'),
    url('/fonts/callunasansregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CallunaSans';
  src: url('/fonts/callunasansitalic-webfont.woff2') format('woff2'),
    url('/fonts/callunasansitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'CallunaSans';
  src: url('/fonts/callunasansbold-webfont.woff2') format('woff2'),
    url('/fonts/callunasansbold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: theme(colors.gray.900);
}

html:after {
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEBLAEsAAD/2wBDAAYGBgYHBgcICAcKCwoLCg8ODAwODxYQERAREBYiFRkVFRkVIh4kHhweJB42KiYmKjY+NDI0PkxERExfWl98fKf/2wBDAQYGBgYHBgcICAcKCwoLCg8ODAwODxYQERAREBYiFRkVFRkVIh4kHhweJB42KiYmKjY+NDI0PkxERExfWl98fKf/wAARCAAhADADASIAAhEBAxEB/8QAGgAAAgMBAQAAAAAAAAAAAAAABQYABAcCA//EAC0QAAIBAwIEBAUFAAAAAAAAAAECAwAEBREhEjFBcQYTMjMVIlFhgRQjNELB/8QAFwEBAQEBAAAAAAAAAAAAAAAAAwQCBf/EAB8RAAMAAQUAAwAAAAAAAAAAAAABAhEDEiExQQQiUf/aAAwDAQACEQMRAD8AB5K+uXjdFJGpI2NJU9rdO3yBiSedOVy8EZZnbRR0oR8VmGrW1mvlg+qRuGuaqZ26S/ShFhcq6jXVF15DmaYbHE5SIcUbPy5GvG38WJC/7wtiRzAenbF+LMTOqB1Kb89iNaVOl2gXtfXIAX4pBo8qHanbBZ2WAqspBViB2oykdheoTGySBhvvVGTBxwyaxx7Hqd62qyDSXqEHL4hrczyqjTAehBzJP+UAxtktxODkFcKuukZGgB/HOtcy1hIBxxkg0jTxzK5LA/ep5blt4RZibnDZnOYwhXz4o4HV/wBRxK4Rt109I+1GMJ4cmuZJG4JoUEex0I1YdNPpT5aIhcMZZB+TTvj3sQAJJGPc1ROsqWGkSV8fZWU2ZPCniTFNHLHbuFB+nyuPpoOv3rXcJlo8nZrIo0f+6MdOE0Y8+xli8tQmh23GtDIMFbxXDSRmM8XThFFXFfV8CJqpaqcNF2+9s9qzu995u1SpRsXT7Rza9e9Wz6171KlYXolDdj/ZHaiNr/IapUrc9k9+n//Z);
}
